[program:{{ app_name }}]
command={{ app_path }}/artisan serve
autostart=true
autorestart=true
user={{ app_user }}
directory={{ app_path }}
redirect_stderr=true
stdout_logfile=/var/log/{{ app_name }}.log
environment=PORT="{{ app_port }}",APP_ENV="dev"
stopwaitsecs=3600
