[program:{{ app_name }}]
process_name=%(program_name)s_%(process_num)02d
command=php {{ app_path }}/artisan octane:start --server=frankenphp --host={{ octane_host }} --port={{ octane_port }} --admin-port={{ octane_admin_port }}
autostart=true
autorestart=true
user={{ app_user }}
redirect_stderr=false
stdout_logfile=/var/log/{{ app_name }}/access.log
stderr_logfile=/var/log/{{ app_name }}/error.log
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=10
stopwaitsecs=3600
